@using E_Commerce.WebApp.Infrastructure.Extensions
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <div class="container-user-info">
                        <span class="lbl-username">
                            @GivenName
                        </span>
                    </div>
                    <NavLink href="logout">Logout</NavLink>
                </Authorized>
                <NotAuthorized>
                    <div class="container-user-info">
                        <span class="lbl-username">
                            Not Logged In!
                        </span>
                    </div>
                </NotAuthorized>
            </AuthorizeView>


        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    [Inject]
    NavigationManager navigationManager { get; set; }
    [Inject]
    AuthenticationStateProvider authenticationStateProvider { get; set; }

    [Parameter]
    public Guid UserId { get; set; }
    public string GivenName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(GivenName))
        {
            GivenName = await authenticationStateProvider.GetGivenName();
        }
    }

    private void NavigateLoginPage()
    {
        navigationManager.NavigateTo("/login");
    }

    private void NavigateRegisterPage()
    {
        navigationManager.NavigateTo("/register");
    }
}
